* {
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #21201e;
    color: #FFFFFF;
    padding: 10px;
}
nav a {
    color: #1db566;
}

nav > a {
    display: block;
    color: #143323;
    padding: 10px;
}

.laranja {
    color: #de4b02;
}

.verde {
    color: #02de1c;
}

#secao-principal {
    padding: 20px;
    text-align: center;
}

#secao-principal > * {
    margin-top: 10px;
}