.box {
    background-color: #7ebded;
    border: 2px solid #152a3b;
}

.box {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px ;
    padding-bottom: 10px;
}